[submodule "submodules/falltergeist/vfs-memory"]
	path = submodules/falltergeist/vfs-memory
	url = https://github.com/falltergeist/vfs-memory.git
[submodule "submodules/falltergeist/vfs"]
	path = submodules/falltergeist/vfs
	url = https://github.com/falltergeist/vfs.git
